﻿@{
    var userName = Context.Session.GetString("UserName");
    var userType = Context.Session.GetString("UserType");
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/ddc6aa5d21.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Layout.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("styles", required: false)
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff !important;
            color: var(--oscuro);
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        /* Contenedor principal con Flexbox */
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Ocupa el alto completo de la pantalla */
        }
        /* La sección de contenido se expande para ocupar el espacio disponible */
        .content {
            flex: 1;
        }
        /* Footer: estilo para mantenerlo al final */
        footer.footer {
            background-color: #262626 !important;
            margin-top: auto;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            position: absolute; /* Posición absoluta */
            bottom: 0; /* Alineado al fondo */
            width: 100%; /* Ocupa todo el ancho */
            white-space: nowrap; /* Evita el salto de línea */
            line-height: 60px; /* Altura de línea de 60px para centrar el contenido verticalmente */
        }
    </style>
    <!-- ICONO -->
    <link rel="icon" type="image/png" href="~/LOGO-JARREDS.ico" />

    <title>JarredsOrderHub - @(userType)</title>

</head>


    <!--Header -->
<body>
    <div class="wrapper">
<header>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #262626 !important;">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <i class="fas fa-box-open me-2"></i>Jarred's Order Hub
            </a>

            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                     @if (userType == "Empleado") {
                    
                        <!-- Admin -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-cog me-1"></i>Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarEmpleados","Admin")">Empleados</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarRoles","Admin")">Roles</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarTareas","Admin")">Tareas</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarUsuarios","Admin")">Usuarios</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("ListadoPedidos","Envio")">Listado de Pedidos</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("EstadoPedidoRepartidor","Envio")">Estado de mi pedido</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("HistorialPagosPedidosAdministracion","Pago")">Historial de Pagos Administracion</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("VisualizarRetroalimentaciones","Envio")">Ver Retroalimentacion</a></li>
                                        <li><a class="dropdown-item" href="@Url.Action("AdministracionReportes","Reporte")"> Reportes </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("EdicionInformacion","Informacion")">Apartados Informativos</a></li>
                            </ul>
                        </li>

                    <!-- Catálogo -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="catalogoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-boxes me-1"></i> Catálogo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="catalogoDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarCategorias","Catalogo")">Administrar Categorias</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("AdministrarCupones","Catalogo")">Administrar Cupones</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("AdministrarPlatos","Catalogo")">Administrar Platos</a></li>
                        </ul>
                    </li>
                    }}
                   
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <!-- Pedidos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="envioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-motorcycle"></i> Pedidos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="envioDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("EstadoPedido","Envio")">Estado de mi pedido</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ReportarProblema","Reporte")">Reportar un problema</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("HistorialPagosPedidos","Pago")">Historia de pedidos pagados</a></li>
                            </ul>
                        </li>
                    }


                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Menu", "Catalogo")" id="pedidoDropdown" role="button">
                            <i class="fa-solid fa-utensils"></i> Menu
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Carrito", "Pedido")" id="pedidoDropdown" role="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>

                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <!-- Mi Usuario -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-1"></i> Bienvenido @userName
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="usuarioDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("GestionPerfil","Usuario")"> Gestion Perfil</a></li>
                                <li><a class="dropdown-item" href="/Usuario/Logout"> Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <!-- Menú para usuario no autenticado -->
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AccionesUsuario", "Usuario")">
                                <i class="fas fa-user me-1"></i> Iniciar Sesión
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

        <!-- Contenido principal -->
        <div class="content">
            @RenderBody()
        </div>

    <!-- Footer -->
    <footer class="bg-dark text-light py-5 " style="background-color: #262626 !important;">
        <div class="container">
            <div class="row">
                <!-- ACERCA -->
                <div class="col-md-4 mb-4">
                    <h5 class="fw-bold">Acerca de Nosotros</h5>
                    <p>Explora una amplia variedad de productos y servicios seleccionados especialmente para ti.</p>
                </div>
                <!-- FAQ -->
                <div class="col-md-4 mb-4">
                    <h5 class="fw-bold">Preguntas Frecuentes</h5>
                    <ul class="list-unstyled">
                        <li>¿Cada cuánto se realizan entregas?</li>
                        <li class="text-muted">Dos veces al mes.</li>
                    </ul>
                </div>
                <!-- CONTACTO -->
                <div class="col-md-4 mb-4 text-center">
                    <h5 class="fw-bold">Contacto</h5>
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram fa-2x"></i></a>
                    <br>
                    <br>
                    <a href="#" class="text-light">jarredsOrderHub@gmail.com</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <!-- TERMINOS Y CONDICIONES -->
                <h5 class="fw-bold">Terminos y Condiciones</h5>
                </ul>
            </div>
            <hr class="border-secondary">
            <div class="text-center">
                <p class="text-center">&copy; @DateTime.Now.Year Jarred's Order Hub. Todos los derechos reservados.</p>
            </div>
        </div>

    <script type="text/javascript">
        (function (d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function () {
                window.voiceflow.chat.load({
                    verify: { projectID: '67f5a28dfbee7bfc90657b03' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production',
                    voice: {
                        url: "https://runtime-api.voiceflow.com"
                    }
                });
            }
            v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
    </script>
    </footer>


    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>