<link rel="stylesheet" href="~/css/Estilos.css" />
@model List<JarredsOrderHub.Models.Platillo>


<h1>Menú de Platos</h1>
<tbody>
<div class="menu-container">
 

     @foreach (var platillo in Model)
        {
            <div class="menu-card">
                <img src="@platillo.Imagen" alt="@platillo.Nombre" class="menu-image">
                <div class="menu-info">
                    <h3>@platillo.Nombre</h3>
                    <p><strong>Descripción:</strong> @platillo.Descripcion</p>
                    <p><strong>Precio:</strong>@platillo.Precio.ToString("C")</p>
                    <p><strong>Categoría:</strong>@platillo.IdCategoria</p>
                    <p><strong>Disponible:</strong>@(platillo.Activo ? "Si" : "No Disponible")</p>
                </div>
                <button class="add-to-cart-btn">
                    <i class="fas fa-cart-plus"></i> Añadir al Carrito
                </button>
            </div>
    }
    </div>
    </tbody>
